$white: lighten(#eff0ff, 20%);
$black: #001628;
$blue: #68a2b9;
$dark-blue: #355464;
$light-blue: #99d9d9;
$red: #e9072b;

// Text colors
$body-color: $black;
$link-color: $dark-blue;
$page-header-color: $white;
$page-header-link-color: $white;
$tag-color: $white;
$link-hover-color: $black;

// Background colors
$body-background: $white;
$page-header-background: $black;
$tag-background: $black;

// Border colors
$link-border: $light-blue;
$avatar-border: $red;
$tag-border: $light-blue;
