$bs: -0.33rem -0.25rem 0.97rem $light-blue;
$body-font: 'Ubuntu', sans-serif;
$heading-font: 'Rubik', sans-serif;

body {
  background: $body-background;
  color: $body-color;
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

main {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  color: $link-color;
  position: relative;
  text-decoration: none;
  display: inline-block;
  
  &::after {
    content: '';
    background-color: $link-border;
    height: 0.2rem;
    position: absolute;
    bottom: 0.12rem;
    left: 0;
    width: 100%;
  }
}

p {
  margin-top: 0.25rem;
}

.flex {
  display: flex;
  align-items: center;
}

.around {
  justify-content: space-around;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font;
  margin: 0;
}
