$bs: -0.33rem -0.25rem 0.97rem $light-blue;

body {
  background: $body-background;
  color: $body-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

main {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

a {
  color: $link-color;
  position: relative;
  text-decoration: none;
  display: inline-block;
  
  &::after {
    content: '';
    background-color: $link-border;
    height: 0.4rem;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    width: 100%;
  }
}
