.page-footer {
  text-align: center;

  a {
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: color 0.125s linear;

    &::after {
      display: none;
    }

    &:hover {
      color: $link-hover-color;
      transition: color 0.125s linear;
    }
  }
}
