.page-header {
  background-color: $page-header-background;
  box-shadow: $bs;
  color: $page-header-color;
  padding: 1.5rem;

  @media (max-width: 647px) {
    text-align: center;
  }

  @media (min-width: 648px) {
    display: flex;
    align-items: center;
  }

  div {
    width: 100%;
  }

  .avatar {
    border-radius: 50%;
    margin-right: 0.5rem;
    max-width: 4rem;

    @media (max-width: 647px) {
      display: none;
    }
  }

  a {
    color: $page-header-link-color;
    padding: 0.66rem 0.33rem;
    margin: 0.33rem;

    &::after {
      bottom: 0.33rem;
      transform: skew(-33deg);
      right: unset;
      width: 0;
      transition: width 0.2s ease-out;
    }

    &:hover {
      &::after {
        width: 100%;
        transition: width 0.2s ease-in;
      }
    }
  }
}

.tagline {
  display: inline-block;
  margin-bottom: 1rem;
}

.nav-container {
  justify-content: center;

  @media (min-width: 648px) {
    justify-content: flex-end;
  }
}
